<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CRM</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/site.js"></script>
</head>
<body class="p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">@Html.ActionLink("CRM", "Index", "Cliente", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li class="nav-item">@Html.ActionLink("Cadastrar Cliente", "CadastrarCliente", "Cliente", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li class="nav-item">@Html.ActionLink("Contatos", "Listar", "Contato", new { area = "" }, new { @class = "navbar-brand" })</li>
            <li class="nav-item">@Html.ActionLink("Tipo de Ocorrência", "CadastroTipoOcorrencia", "TipoOcorrencia", new { area = "" }, new { @class = "navbar-brand" })</li>
        </ul>
    </nav>

    <div class="container body-content">
        <div class="accordion">
            <div class="card mt-4">
                <div class="card-header bg-dark text-white">
                    <span class="collapsed" data-toggle="collapse" data-target="#clienteSelecionado" aria-expanded="false" aria-controls="clienteSelecionado">Cliente Selecionado</span>
                </div>
                <div class="card-body collapse" id="clienteSelecionado">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Codigo">Codigo</label>
                            @Html.TextBoxFor(x => Session["CodigoCliente"], null, new { @class = "form-control", disabled="disabled" })
                        </div>
                        <div class="form-group col-md-4" >
                            <label for="Nome">Nome</label>
                            @Html.TextBoxFor(x => Session["NomeCliente"], null, new { @class = "form-control", disabled = "disabled" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.ActionLink("Remover Seleção", "Limpar", "Cliente", null, new { @class="btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CRM</p>
        </footer>
    </div>

    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>