@model List<Crm.Models.Cliente>
@{
    ViewBag.Title = "Index";
}
<table id="ListaClientes" name="ListaClientes" class="table mt-4">
    <thead class="thead-dark">
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Documento</th>
        <th scope="col">Data de Nascimento</th>
        <th scope="col">Gênero</th>
        <th scope="col">Ação</th>
    </thead>
    @foreach(Crm.Models.Cliente cliente in Model)
    {
        <tr>
            <td>@cliente.Codigo</td>
            <td>@cliente.Nome</td>
            <td>@cliente.Documento</td>
            <td>@cliente.DataNascimento</td>
            <td>@cliente.Genero</td>
            <td>@Html.ActionLink("Selecionar", "SelecionaCliente", "Cliente", new { cliente.Codigo, cliente.Nome }, new { @class = "btn btn-primary" })</td>
        </tr>
    }
</table>

@{
    <script src="@Url.Content("~/scripts/cliente.js")"></script>
}